footer{
    color:white;
    max-width:60vw;
    margin:auto;
    padding:34px;
}
.footer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    color:white;
    gap:25px;
    padding:34px 0px;   
}

.questions svg{
    filter:invert(1);
    padding:10px 10px 0 30px;

}

.footer a{
color:white;
font-size:16px;
text-decorartion:none;
}
.footeritem
{
    display:flex;
    flex-direction:column;
    align-items:left;
    gap:23px;
    
}
footer span
{
    color:white;
    font-size:16px;
    margin:2px 0vw;
    padding: 50px 0px;
}